data/
surveys/
queue/
simple_data/
training/
ml/
*.csv
*.jsonl
*.pt
*.pth
*.pkl
*.joblib
.venv/
__pycache__/
*.pyc
*.exe
offline_queue.jsonl
data_comp.py
temp_test.py
test.py
.idea/
config.json
server_config.json
build/
dist/
TypeSenseLogger.spec
participant_id.txt
cahnges/
